<% if (balance) { %>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[name="orden[volumen]"], input[name="orden[precio]"]').addClass('required');
      $('input[name="orden[volumen]"], input[name="orden[precio]"]').addClass('number');
      $('input[name="orden[volumen]"]').attr('min', 0.1);
      $('input[name="orden[precio]"]').attr('min', 50).addClass('digits');
      
      $('#FORM-Orden').validate({
        messages: {
          "orden[volumen]": {
            number: 'Por favor ingrese una cantidad válida',
            required: 'La cantidad es necesaria',
            min: 'La cantidad minima de una orden es de 0.1 BTC'
          },
          "orden[precio]": {
            numbre: 'Por favor ingrese un precio válido',
            required: 'El precio es necesario',
            min: 'El precio minimo es de COP$100',
            digits: 'No utilice ni puntos ni comas por favor.'
          }
        },
        highlight: function(el, eClass, vClass) {
          // Defino esta funcion para evitar
          // el highlight del input.
        }
      });
    });
    
  </script>
<% } %>